.header {
    background: #3ca2e0;

    grid-area: h;
    height: 60px;
}

.content {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.left {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.left span {
    display: block;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.right {
    color: white;
}

.header img {
    margin-left: 5px;
    margin-top: 5px;
    height: 50px;
}
