.nav {
    background-color: white;

    grid-area: n;

    float: left;
    width: 20%;
}

.item {
    border-bottom: 1px solid #ebeae6;
}
.item:last-of-type {
    border-bottom: 0;
}

.item a {
    display: block;
    padding: 20px;
    color: #89817f;
    text-decoration: none;
}

.item a:hover {
    background: #f8f7f5 !important;
    border-left: 5px solid #3ca2e0;
    cursor: pointer;
    margin-left: 0;
}

.active {
    background: #f8f7f5 !important;
    border-left: 5px solid #3ca2e0;
}
