.wrapper {
    margin-top: 20px;
    background: white;
    padding: 20px;
}

.wrapper h2 {
    margin: 0;
    color: #333;
    font-size: 12pt;
}

.friendsWrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
