.app-wrapper {
    width: 100%;
}

.content-wrapper {
    width: 1200px;
    margin: 10px auto 0;

    /*display: grid;*/

    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: 3fr 9fr;*/
    /*grid-template-areas:*/
    /*    "n c";*/
    /*grid-gap: 10px;*/
}
