.app-wrapper {
    width: 1080px;
    margin: 0 auto;

    display: grid;

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
        "h h"
        "n c";
}

.header {
    background: darkcyan;

    grid-area: h;
}

.header img {
    margin-left: 5px;
    margin-top: 5px;
    height: 50px;
}

.nav {
    background: green;

    grid-area: n;
}

.content {
    background: blue;

    grid-area: c;
}

.content img {
    width: 100%;
}
