.dialogs {
    display: flex;

    background: white;
}

.dialogItems {
    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: scroll;

    max-height: 800px;
}

.dialogItems>div {
    border-bottom: 1px solid #ebeae6;
}

.dialogItems>div:last-of-type {
    border: 0;
}

.messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.messageItems {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 1;

    overflow-x: hidden;
    overflow-y: scroll;

    padding: 20px;

    max-height: 800px;
}

.newMessageWrapper {
    min-height: 60px;
    background: #f8f7f5;
    align-self: stretch;
    border: 1px solid #ebeae6;
}
