.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: flex-end;
    align-self: stretch;
}

.wrapper textarea {
    flex-grow: 1;

    resize: none;
    align-self: stretch;

    min-height: 70px;
}

.wrapper button {
    margin: 10px;
}
